.items {
  display: flex;
  flex-wrap:wrap;

    > div {
      flex-grow: 1;
      display: inline-block;
      width: calc(100% * (1/2) - 10px - 1px);
      text-align: center;
      margin-bottom: 15px;

      .value {
        font-size: 2em;

        &:before {
          font-family: FontAwesome;
          margin-right: 3px;
        }
      }
      
      &.up {
        .value:before { content: '\f062'; }
      }

      &.down {
        .value:before { content: '\f063'; }
      }

      &.left {
        .value:before { content: '\f060'; }
      }

      &.right {
        .value:before { content: '\f061'; }
      }

    }

}