$success: #97E8C9;
$success1: #A8D5E8;
$fail: #FFD9C5;
$fail1: #FFCBCC;
$gray: #666;
$gray1: #CCC;





body {
  font-family: Verdana;
  font-size: 0.7em;
}

section {
  h1 {
    font-size: 1.0em;
    padding: 0;
  }
}


ul.boards {

  li {
    &.succeed, &.accepted { background: $success; }
    &.succeed, &.accepted, &.rejected, &.running { header { cursor: pointer; } }
    &.rejected { background: $fail; }
    &.fail { background: $gray1; color: white; }

    &.build {

      header {
        >
        :first-child {
          text-align: left;

          &:before {
            font-family: FontAwesome;
            content: '\f109';
            margin-right: 15px;
            font-size: 1em;
            vertical-align: text-top;
          }
        }
      }

    }

    &.firewall {

      header {
        >
        :first-child {
          text-align: left;

          &:before {
            font-family: FontAwesome;
            content: '\f06d';
            margin-right: 15px;
            font-size: 1em;
            vertical-align: text-top;
          }
        }
      }
    }

    header {
      padding: 5px 10px 15px;
    }
    
  }

}


.widgets {

  section {

    &.succeed, &.accepted { background-color: $success1; }
    &.fail, &.rejected { background-color: $fail1; }
    
    padding: 0 10px;
    border: 1px solid $gray;
    border-radius: 2px;
    height: 100%;

  }

}